@import "reset"
@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,600);

body
  font-size 16px
  font-family: 'Montserrat', sans-serif
  padding 20px
  .hero
    text-align: center
    margin-left auto
    margin-right auto
    .slotMachine
      .slotWheels
        display: flex
        justify-content: center
        margin-top: 20px;
        .slotWheel
          transition: background-color 300ms linear;
          padding: 25px
          margin: 5px
          border: 2px solid #000
      .spin
        margin: 10px 0;
        background: #000;
        color: #fff;
        display: inline-block;
        padding: 5px;
        cursor: pointer;
      .credits
        margin: 10px 0;
      .reults
        margin: 10px 0;
